/* eslint-disable */
var style = require('../wxs/style.wxs');
var addUnit = require('../wxs/add-unit.wxs');

function isObj(x) {
  var type = typeof x;
  return x !== null && (type === 'object' || type === 'function');
}
function splitNumberAndUnit(text) {
  if (!text || typeof text !== 'string') return [text, ''];
  
  var regex = getRegExp('(\d+)(.+)');
  var match = regex.exec(text);
  if (match && match.length >= 3) {
    return [match[1], match[2]];
  }
  return [text, null];
}
function optionText(option, valueKey) {
  return isObj(option) && option[valueKey] != null ? option[valueKey] : option;
}
function optionTextTime(option, valueKey) {
  var text = isObj(option) && option[valueKey] != null ? option[valueKey] : option;
  return splitNumberAndUnit(text)

}

function rootStyle(data) {
  return style({
    height: addUnit(data.itemHeight * data.visibleItemCount),
  });
}

function wrapperStyle(data) {
  var offset = addUnit(
    data.offset + (data.itemHeight * (data.visibleItemCount - 1)) / 2
  );

  return style({
    transition: 'transform ' + data.duration + 'ms',
    'line-height': addUnit(data.itemHeight),
    transform: 'translate3d(0, ' + offset + ', 0)',
  });
}

module.exports = {
  optionText: optionText,
  optionTextTime: optionTextTime,
  rootStyle: rootStyle,
  wrapperStyle: wrapperStyle,
  
};
