var unitFormat = function(num) {
  if (num > 10000) {
    return Math.floor((num / 10000) * 100) / 100 + '万';
  }
  return num;
};
var yearMonthFormat = function(date) {
  if (date) {
    var year = date.split('-')[0];
    var month = date.split('-')[1];
    month = Number(month);
    return year + '年' + month + '月';
  }
  return '';
};
module.exports = {
  unitFormat: unitFormat,
  yearMonthFormat: yearMonthFormat
};
